
nav {
  background-color: #BB7E5D;
  width: 100%;
  opacity: 1;
}
nav ul {
  list-style-type: none;
  text-align: center;
  font-size: 2em;
  margin-top: 0;
}

nav ul li {
  display: inline-block;
  height: 50px;
  padding: 1.5% 1% 1% 1%;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:link {
  color: #DBB650;
}

nav ul li a:visited {
  color: #DBB68F;
}

nav ul li:hover {
  background-color: #0892A5;
}

nav ul li a:active {
  color: #000000;
}

.active {
  background-color: #06908F;
}

body {
  margin: 0;
  position: relative;
  background-color: #06908F;
}


body::after {
  background-color: #06908F;
  background-image: url("../media/clock.png");
  background-repeat:  no-repeat;
  background-blend-mode: exclusion;
  background-attachment: fixed;
  background-position: center;
  min-height: inherit;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#theGame p {
  padding: .5%;
  min-height: 400px;
}

section {
  text-align: center;
  font-size: 200%;
  color: black;
  width: 72%;
  min-height: 10%;
  margin: 0 15%;
  border: 5px white dotted;
}

.update {
  min-height: 100px;
}

img {
  width: 20%;
}

footer {
  padding: 1%;
  text-align: center;
}
/* Media Queries */
@media screen and (max-width: 480px) {

  html {
    padding: 0;
  }

  nav ul li {
    width: 100%;
    padding-right: 0;
  }

  nav ul {
    padding: 0;
  }

  section {
    font-size: 1em;
    min-height: 10%;
  }
}
