.menu {
  background-color: gray;
  height: 1em;
  width: 200px;
  overflow: hidden;
  color: black;
  font-family: sans-serif;
  float: left;
  transition: height 1s;
}

.menu:hover {
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}
